# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
.idea/workspace.xml

# Node + package managers
/node_modules
/.pnp
.pnp.js

# Build output
/tmp
/dist
/out-tsc
/.next
/out
/coverage
next-env.d.ts
tsconfig.tsbuildinfo

# Env
.env*.local
